@import 'colors.css';
@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;


* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: @foreground;
  background: transparent;
  background-color: transparent;
}

#workspaces button {
  color: @primary;
  padding-right: 6px;
  border-radius: 14px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  border-radius: 14px;
  background-color: @surface_container_high
}

#workspaces button.active {
  color: @surface_container;
  background: @primary;
  min-width: 50px;
  padding-right: 8px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

workspaces button.empty {
  color: @surface_dim;
}

#workspaces button.urgent {
  background-color: @error;
  color: @surface_container;
  border-radius: 14px
}

#clock,
#custom-coreproc,
#custom-memdisk,
#temperature {
  padding-left: 1em
}

#network,
#wireplumber,
#backlight,
#battery,
#tray {
  padding-right: 1em
}