* {
    primary: #ffb3ae;
    primary-fixed: #ffdad7;
    primary-fixed-dim: #ffb3ae;
    on-primary: #68000c;
    on-primary-fixed: #410005;
    on-primary-fixed-variant: #891b1f;
    primary-container: #b03838;
    on-primary-container: #ffffff;
    secondary: #ffb3ae;
    secondary-fixed: #ffdad7;
    secondary-fixed-dim: #ffb3ae;
    on-secondary: #53201f;
    on-secondary-fixed: #380c0c;
    on-secondary-fixed-variant: #6e3634;
    secondary-container: #713836;
    on-secondary-container: #ffdcd9;
    tertiary: #81d5cb;
    tertiary-fixed: #9df2e7;
    tertiary-fixed-dim: #81d5cb;
    on-tertiary: #003733;
    on-tertiary-fixed: #00201d;
    on-tertiary-fixed-variant: #00504a;
    tertiary-container: #006f67;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #1c1010;
    on-surface: #f4dddb;
    on-surface-variant: #dfbfbd;
    outline: #a68a88;
    outline-variant: #584140;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #f4dddb;
    inverse-on-surface: #3b2d2c;
    inverse-primary: #aa3434;
    surface-dim: #1c1010;
    surface-bright: #443635;
    surface-container-lowest: #160b0b;
    surface-container-low: #251918;
    surface-container: #291d1c;
    surface-container-high: #342726;
    surface-container-highest: #3f3130;
}
